/* Maze View - Default Style */

.Unknown {
    -fx-background-color: #f00;
}

.Default {
    -fx-background-color: transparent;
}

.Floor {
    -fx-background-color: #efefef;
}

.Wall {
    -fx-background-color: #777;
}

.Start {
    -fx-background-color: #8f8;
}

.Exit {
    -fx-background-color: #88f;
}